@use "sass:color";

//Tipografia
$font-family: 'Titillium Web', sans-serif;

$h1-font-size: 20pt;

$h2-font-size: 16pt;

$h3-font-size: 13pt;

$p-font-size: 11pt;

$a-font-size: 11pt;

$h1-fw: 700;

$h2-fw: 600;

$h4-fw: 550;

$strong-fw: 300;

//Color
$p-color:#000;
$bg-color: #fff;
$logo-color:  #e54285;
$green-color: #83b407;
$grey-color: #ccc8cc;
$dgrey-color: #b8b4b8;
